@{
    ViewData["Title"] = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Forest Churches | Admin</title>
    
  <link href="~/@(nameof(ForestChurches)).styles.css" rel="stylesheet" />
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <script src="https://kit.fontawesome.com/32ff283d61.js" crossorigin="anonymous"></script>
  <!-- Toast Messages -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="~/css/adminlte.min.css">
</head>

<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a asp-page="/Admin/Index" class="nav-link">Home</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Contact</a>
      </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">

      <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a asp-page="/Index" class="brand-link">
        <img src="https://i.imgur.com/1yxyCKl.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Forest Churches</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

      <!-- Sidebar user (optional) -->
@*       <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="data:image;base64,@System.Convert.ToBase64String(new byte[8])" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">@User.Identity.Name</a>
        </div>
      </div> *@

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item">
                <a asp-page="/Admin/Users/Index" class="nav-link">
                    <i class="nav-icon fa-solid fa-user"></i>
                    <p>Users</p>
                </a>
            </li>

            <li class="nav-item">
                <a asp-page="/Admin/Roles/Index" class="nav-link">
                <i class="nav-icon fas fa-solid fa-users"></i>
                    <p>Roles</p>
                </a>
            </li>

            <li class="nav-item">
                <a asp-page="/Admin/Events/Index" class="nav-link">
                    <i class="nav-icon fa-solid fa-calendar-days"></i>
                    <p>Events</p>
                </a>
            </li>

            <li class="nav-item">
                <a asp-page="/Admin/Invite" class="nav-link">
                    <i class="nav-icon fas fa-solid fa-list"></i>
                    <p>Whitelist Users</p>
                </a>
            </li>

            <li class="nav-item">
                <a asp-page="/Admin/Church" class="nav-link">
                    <i class="nav-icon fas fa-solid fa-church"></i>
                    <p>Churches</p>
                </a>
            </li>

            <li class="nav-item">
                <a asp-page="/Admin/AdminLogs" class="nav-link">
                <i class="nav-icon fas fa-solid fa-code"></i>
                    <p>Logs</p>
                </a>
            </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-md-3 col-sm-12 imageHeading">
            <img class="adminImage" src="https://i.imgur.com/1yxyCKl.png" alt="Forest Churches Logo" />
          </div>
          <div class="col-md-9 col-sm-12 textHeading">
              <h2>Administration Dashboard</h2>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        @RenderBody()
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 3.2.0
    </div>
    <strong>Copyright &copy; 2023-2024 <a href="https://forestchurches.org">Forest Churches</a>.</strong> All rights reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/js//adminlte.min.js"></script>
</body>
</html>