<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forest Of Dean Churches | 2024</title>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- SignalR -->
    <script src="https://cdn.jsdelivr.net/npm/aspnet/signalr@1.7.4/dist/browser/signalr.min.js"></script>
    <link rel="stylesheet" href="~/ForestChurches.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" type="image/x-icon" href="./img/logo (2).ico" />

    <link rel="stylesheet" href="~/css2/Global.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css2/Overrides.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css2/Nav.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css2/Nav.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css2/Declarations.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css2/Media.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css2/Footer.css" asp-append-version="true" />
    <link href="~/@(nameof(ForestChurches)).styles.css" rel="stylesheet" />
</head>

<header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent sticky-top w-100" id="mainNavbar">
        <div class="container-fluid">
            <a class="navbar-brand" asp-page="/Index">Forest Churches</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/aboutus">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/NearMe">What's Nearby</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/Events/Index">Events</a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/Admin/Index">Admin</a>
                            </li>
                        }
                    }
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>
</header>

<body>
    <div id="wrapper">
        <div class="container-fluid">
            <main role="main" class="site-main p-0">
                @RenderBody()
            </main>
        </div>
        <footer class="border-top footer">
            <div class="container-fluid footer-container">
                <p class="footer-content">© 2024 - Forest Churches (<a asp-area="" asp-page="/Privacy">Privacy</a>) | <a asp-area="" asp-page="/Contact">Contact</a></p>
            </div>
        </footer>

        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/"></script>

        @await RenderSectionAsync("Scripts", required: false)
    </div>

</body>

<script>
    $(document).ready(function () {
        var videoHeight = $('.hero-container video').outerHeight();
        $(window).scroll(function () {
            if ($(this).scrollTop() > videoHeight) {
                $('#mainNavbar').addClass('scrolled');
            } else {
                $('#mainNavbar').removeClass('scrolled');
            }
        });
    });
</script>