@using ForestChurches.Components.Users
@using Microsoft.AspNetCore.Identity
@using ForestChurches.Areas.Identity.Data

@inject SignInManager<ChurchAccount> SignInManager
@inject UserManager<ChurchAccount> UserManager

    <head>
        <link rel="stylesheet" href="~/css2/Nav.css" asp-append-version="true" />
    </head>

<ul class="sNavbar-Nav navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a id="manage" class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Welcome back, @UserManager.GetUserName(User)</a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link btn-secondary text-light border-0">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link btn-secondary text-light ms-0" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>

<script src="/_framework/aspnetcore-browser-refresh.js"></script>