@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<head>

    <link rel="stylesheet" href="~/css2/Nav.css" asp-append-version="true" />
</head>

<div class="container-fluid">
    <main role="main" class="p-0">
        @RenderBody()
    </main>
</div>


@section Scripts {
    @RenderSection("Scripts", required: false)
}
