@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;

    string src = "https://i.imgur.com/oLC9RcU.png";

    @if (Model.Currentuser != null && Model.Currentuser.ImageArray != null && Model.Currentuser.ImageArray.Length > 1)
    {
        src = "data:image;base64," + System.Convert.ToBase64String(@Model.Currentuser.ImageArray);
    }
}

<head>
    <link rel="stylesheet" href="~/css2/profile.css" asp-append-version="true" />
</head>

<!-- Beginning of Page header -->
<div class="container-fluid page-hero">
    <div class="hero-text">
        <partial name="_StatusMessage" for="StatusMessage" />
        <div>
            <img src="@src" alt="profile picture" />
        </div>
        <div class="heading-text">
            <h1>Welcome back, User!</h1>
            <p>@Model.CurrentChurch.Name (@Model.CurrentChurch.Status)</p>
        </div>
    </div>
</div>

<!-- Tab Nav -->
<partial name="_ManageNav" />

<!-- Beginning of COntent -->
<section>
    <h1>Change your password</h1><br>
    <form id="change-password-form" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="form-floating mb-3">
            <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Please enter your old password." />
            <label asp-for="Input.OldPassword" class="form-label"></label>
            <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." />
            <label asp-for="Input.NewPassword" class="form-label"></label>
            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password." />
            <label asp-for="Input.ConfirmPassword" class="form-label"></label>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="w-100 btn btn-lg btn-success">Save Changes</button>
    </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}