@page
@model ForgotPasswordModel
@{
    // ViewData["Title"] = "Forgot your password?";
}
<head>
    <link rel="stylesheet" href="~/css2/Login.css" asp-append-version="true" />
</head>

<body class="container-fluid text-center">
    <form method="post" class="form-signin">
        <img class="mb-4" src="~/img/logo.png" alt="" width="300" height="200">
        <h1 class="h3 mb-3 font-weight-normal text-light">Please enter your email to continue...</h1>
            <label asp-for="Input.Email" class="sr-only">Email address</label>
            <input asp-for="Input.Email" type="email" autocomplete="on" aria-required="true" class="form-control" placeholder="Email address" required="" autofocus="">
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        
            <div class="form-container">
            <button type="submit" class="btn full-width btn-lg btn-success btn-block">Reset Password</button>
        </div>
    </form>
</body>

        

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}