@page
@model ForgotPasswordConfirmation
@{
    // ViewData["Title"] = "Forgot password confirmation";
}

<h1>Success!</h1>
<p>
    If an account with that emails exist, a password reset email will be delivered to the given email address shortly
</p>