@page
@model ForestChurches.Pages.Admin.Church.EditModel
@{
    Layout = "_Admin";
    ViewData["Title"] = "Edit Church | Administration";
}

<style>
    .checkbox-list {
        padding-left: calc(0.8rem + 0.5vw);
    }
</style>

<partial name="_StatusMessage" model="Model.StatusMessage" />

<!-- Profile Image -->
<div class="card card-primary card-outline">
    <div class="card-body box-profile">
        <div class="text-center">
            <img style="max-width: 100px" src="https://i.imgur.com/oLC9RcU.png" />
        </div>

    <h3 class="profile-username text-center">@Model.Church.Name</h3>

    <div class="tab-pane active" id="settings">
        <form class="form-horizontal" asp-page-handler="UpdateChurch" method="post">
                <div class="form-floating full-width">
                    <input asp-for="SaveChangesModel.Name" aria-required="true" class="form-control" id="churchName" type="text" placeholder="Church Name" />
                    <label asp-for="SaveChangesModel.Name"></label>
                    <span asp-validation-for="SaveChangesModel.Name" class="text-danger"></span>
                </div>

                <div class="form-floating full-width">
                    <textarea asp-for="SaveChangesModel.Description" class="form-control" id="churchDescription" placeholder="Church Description" rows="5"></textarea>
                    <label asp-for="SaveChangesModel.Description"></label>
                    <span asp-validation-for="SaveChangesModel.Description" class="text-danger"></span>
                </div>

                <div class="form-floating half-width">
                    <input asp-for="SaveChangesModel.Denomination" class="form-control" id="denomination" type="text" placeholder="Denomination" />
                    <label asp-for="SaveChangesModel.Denomination"></label>
                    <span asp-validation-for="SaveChangesModel.Denomination" class="text-danger"></span>
                </div>

                <div class="form-floating half-width">
                    <input asp-for="SaveChangesModel.Congregation" class="form-control" id="congregationSize" type="text" placeholder="Number of Congregants" />
                    <label asp-for="SaveChangesModel.Congregation">Congregation Size</label>
                    <span asp-validation-for="SaveChangesModel.Congregation" class="text-danger"></span>
                </div>

                <div class="form-floating half-width">
                    <input id="addressInput" asp-for="SaveChangesModel.Address" class="form-control" type="text" placeholder="Church Address" />
                    <label asp-for="SaveChangesModel.Address"></label>
                    <span asp-validation-for="SaveChangesModel.Address" class="text-danger"></span>
                </div>

                <div class="form-floating half-width">
                    <input asp-for="SaveChangesModel.Phone" class="form-control" id="phone" type="tel" placeholder="Church Phone" />
                    <label asp-for="SaveChangesModel.Phone">Phone</label>
                    <span asp-validation-for="SaveChangesModel.Phone" class="text-danger"></span>
                </div>

                <div class="form-floating full-width">
                    <input asp-for="SaveChangesModel.Churchsuite" class="form-control" id="churchsuite" type="text" placeholder="Churchsuite link" />
                    <label asp-for="SaveChangesModel.Churchsuite">ChurchSuite (Optional)</label>
                    <span asp-validation-for="SaveChangesModel.Churchsuite" class="text-danger"></span>
                </div>

                <div class="form-floating half-width">
                    <input asp-for="SaveChangesModel.Website" class="form-control" id="website" type="text" placeholder="Church Website" />
                    <label asp-for="SaveChangesModel.Website">Website</label>
                    <span asp-validation-for="SaveChangesModel.Website" class="text-danger"></span>
                </div>

                <div class="form-floating half-width">
                    <select class="form-control" asp-for="SaveChangesModel.Parking" id="parking">
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                    <label asp-for="SaveChangesModel.Parking"></label>
                </div>

                <div class="form-group half-width">
                    <label class="form-check-label listLabel">Facilities</label>
                    <div class="checkbox-list">
                        <label><input class="form-check-input" type="checkbox" asp-for="SaveChangesModel.Restrooms" /> Restrooms</label><br />
                        <label><input class="form-check-input" type="checkbox" asp-for="SaveChangesModel.WheelchairAccess" /> Wheelchair Access</label><br />
                        <label><input class="form-check-input" type="checkbox" asp-for="SaveChangesModel.Wifi" /> Free WiFi</label><br />
                        <label><input class="form-check-input" type="checkbox" asp-for="SaveChangesModel.Refreshments" /> Refreshments</label><br />
                    </div>
                </div>

                <input type="hidden" value="@Model.SaveChangesModel.ID" for="id" />

                <button type="submit" class="btn btn-primary w-100">Update Information</button>
        </form>
    </div>
