@page
@model ForestChurches.Pages.ContactModel
@{
}
<head>
    <link rel="stylesheet" href="~/css2/contact-page.css" asp-append-version="true" />
</head>

<div class="container">
    <div class="contact-us form">
        <header>
            <img class="mb-4" src="~/img/logo.png" alt="" width="300" height="200">
        </header>
        <form method="post">
            <!-- Email [Pre-filled] -->
            <span asp-validation-for="Input.Name" class="text-danger"></span>
            <input type="text" asp-for="Input.Name" placeholder="Enter your name" required>

            <!-- Password -->
            <span asp-validation-for="Input.Subject" class="text-danger"></span>
            <input type="text" asp-for="Input.Subject" placeholder="What's your enquiry?" required>

            <!-- Password twice -->
            <span asp-validation-for="Input.ClientEmail" class="text-danger"></span>
            <input type="email" asp-for="Input.ClientEmail" placeholder="How can we get in touch with you?" required>

            <!-- Message -->
            <span asp-validation-for="Input.Message" class="text-danger"></span>
            <textarea class="form-control" type="text" asp-for="Input.Message" placeholder="What's up?" rows="3" required></textarea>

            <button id="contact-usSubmit" type="submit" class="half-width w-100 btn btn-lg btn-success">Sign Up</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}